.pixel-snow-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.pixel-snow-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
}