.search-input__wrapper {
  position: relative;
  margin: 20px auto 40px;
  width: 100%;
  max-width: 600px;
}

.search-input__wrapper input {
  background: rgba(245, 130, 174, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  padding: 15px 15px;
  font-size: 18px;
  color: #f582ae;
  font-weight: bold;
  font-family: 'Slackey', sans-serif;
  box-sizing: border-box;
}

.search-input__wrapper input:focus,
.search-input__wrapper input:valid {
  outline: 0;
  border-color: transparent;
}

.search-input__wrapper label {
  position: absolute;
  top: 15px;
  left: 15px;
  pointer-events: none;
  display: flex;
}

.search-input__wrapper label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #f582ae;
  opacity: 0.7;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
}

.search-input__wrapper input:focus+label span,
.search-input__wrapper input:valid+label span {
  color: #f582ae;
  opacity: 1;
  transform: translateY(-40px);
  left: 0;
}